@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #8A9BB5;
  --color-secondary: #6b80a1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #333;
  font-family: "Microsoft YaHei", "PingFang SC", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
